<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>JSON Parse</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <style>
    body {
      background-color: #f5f5f5;
      margin: 20px;
    }

    .narrow {
      max-width: 330px;
      padding: 15px;
      margin: auto;
      text-align: center;
    }

    .flex-mt20 {
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <h4>Category Mappings</h4>
  <div>Jobcast: <a href="https://app.jobcast.net/api/v1.0/jobcategories">https://app.jobcast.net/api/v1.0/jobcategories</a></div>
  <br />
  <h4>Job Type Mappings</h4>
  <div>Jobcast: <a href="https://app.jobcast.net/api/v1.0/jobtypes">https://app.jobcast.net/api/v1.0/jobtypes</a></div>

  <div id="container"></div>

  <script id="uploader" type="text/html">
    <div class="mt-4 mb-4 narrow">
      <label class="btn btn-primary">
          Choose File <input type="file" name="file" accept="application/json" hidden />
      </label>
    </div>
  </script>

  <script id="progress" type="text/html">
    <div class="mt-4 mb-4 narrow">
      <div class="text-center" >Upload progress: <%- percent %>%</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: <%- percent %>%" aria-valuenow="<%- percent %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </script>

  <script id="error" type="text/html">
    <div class="mt-4 mb-4 narrow text-center" style="color:red;">Error: <%= message %></div>
  </script>

  <script id="result" type="text/html">
    <div class="mt-4 mb-4 flex-mt20 text-center"><button data-action="start-over" class="btn btn-primary">Start Over</button></div>
    <div><%= json %></div>
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>
    (function($) {
      var uploader = _.template($('#uploader').html());
      var progress = _.template($('#progress').html());
      var error = _.template($('#error').html());
      var result = _.template($('#result').html());

      var startOver = function() {
        $('#container').html(uploader());
      };

      $('#container').on('click', '[data-action=start-over]', function(e) {
        startOver();
      });

      $('#container').on('change', 'input[type=file]', function(e) {
        $('#container').html(progress({ percent: 0 }));

        var input = e.target;
        var reader = new FileReader();

        reader.onload = function() {
          try {
            const lines = reader.result.split('\n')
            .filter(line => line) // There's usually an empty line at the end, so filter it out
            .map(line => JSON.parse(line))
            .map(line => formatObject(line));
            $('#container').html(result({ json: lines.join('<hr />')}));
          } catch {
            $('#container').html(error({ message: 'Error reading file.' }));
          }
        };

        reader.onprogress = function(e) {
          if (!e.lengthComputable) return;

          var percent = Math.round((e.loaded * 100) / e.total);
          $('#container').html(progress({ percent: percent }));
        };

        reader.onerror = function() {
          $('#container').html(error({ message: 'Upload failed.' }));
        };

        reader.onabort = function() {
          $('#container').html(error({ message: 'Upload aborted.' }));
        };

        var file = input.files[0];
        if (!file) {
          $('#error').html('File not selected.');
          $('#container').html(uploader());
          return;
        }

        reader.readAsText(file);
      });

      const formatObject = (obj) => 
        (typeof obj === 'object' && obj !== null) ?
          `<table>
            <tbody>
            ${Object.keys(obj).map(key => 
              `<tr>
                <td style="border: 1px solid #ccc; padding: 8px; background: #eee;" valign="top"><strong>${key}</strong></td>
                <td style="border: 1px solid #ccc; padding: 8px;" valign="top">${formatObject(obj[key])}</td>
              </tr>`
            ).join('')}
            </tbody>
          </table>`
        : typeof obj === 'string' ?
          replaceUrlWithLinks(obj)
        : obj;

      var replaceUrlWithLinks = function(text) {
        var pattern = /^(http:\/\/|https:\/\/)([-A-Za-z0-9+&#\/%?=_\*\:;\(\)\.]*[-A-Za-z0-9+&#\/%=_\*\:;\(\)])$/gi;
        return text.replace(pattern, '<a target="_blank" href="$1$2">$1$2</a>');
      };

      startOver();
    })(jQuery);
  </script>
</body>
</html>
